<section class="about">
    <div class="wrapper">
        <h3 class="about__title"></h3>
        <div class="about__content">
            <div class="about__gallery">
                <div class="about__img-wrap"><img src="" alt="" class="about__img"></div>
                <div class="about__img-wrap"><img src="" alt="" class="about__img"></div>
                <div class="about__img-wrap"><img src="" alt="" class="about__img"></div>
                <div class="about__img-wrap"><img src="" alt="" class="about__img"></div>
            </div>
            <span class="about__text-center"></span>
            <div class="about__items">
                <div class="about__item">
                    <p class="about__text"></p>
                    <a href="#" class="about__link btn">Заполни анкету</a>
                </div>
                <div class="about__item">
                    <p class="about__text"></p>
                    <a href="#" class="about__link btn">Заполни анкету</a>
                </div>
            </div>
        </div>
    </div>
</section>  
