<section class="about">
    <div class="wrapper">
        <h2 class="about__title">Как это работает?</h2>
        <div class="about__content">
            <div class="about__gallery">
                <div class="about__img-wrap"><img src="./img/retro1.webp" alt="photo" class="about__img"></div>
                <div class="about__img-wrap"><img src="./img/interview.jpg" alt="photo" class="about__img"></div>
                <div class="about__img-wrap"><img src="./img/about3.jpg" alt="photo" class="about__img"></div>
                <div class="about__img-wrap"><img src="./img/about1.jpg" alt="photo" class="about__img"></div>
            </div>
            <span class="about__text-center">Незабудь</span>
            <div class="about__items">
                <p class="about__subtitle">Мы IT startup команда, также, как и вы, мы не имели места где можно записать свою память о тех, кого любили, и не уверенны, что помним, как добраться на их могилу. А еще, мы давно не пересматривали старые альбомы, но фото в них такие теплые и ценные.</p>
                <p class="about__subtitle">Поэтому мы разработали простой сервис с интерактивной анкетой, способный помочь сохранить историю твоего рода, найти их место захоронения, связаться с дальними родственниками, а также прикоснуться к культурно-историческому наследию твоего города и их историям.</p>
                <p class="about__subtitle">В сотрудничестве с партнерами будем помогать удалено ухаживать за местом захоронения, чтобы чтить память с любой точки мира! </p>
            </div>
        </div>
    </div>
</section>  
