<section class="partners">
    <div class="wrapper">
        <h2 class="partners__title">Стань партнером</h2>
        <p class="partners__subtitle">
            <!-- Мы хотим создать маркет плейс в каждом городе в сфере ритуальных услуг, оставляйте заявки на почту или присоединяйтесь к соц.сетям. Продвигай свою организацию, охвати больше людей, получи клиентов -->
        Отправьте заявку на почту и присоединяйтесь к соц. сетям.<br>
        Пусть о вашей организации узнают больше людей!
        </p>
        <div class="partners__items">
            <div class="partners__logo-wrap">
                <!-- <img src="" alt="photo" class="partners__img"> -->
                <span>Наш<br> партнер</span>
            </div>
            <div class="partners__logo-wrap">
                <!-- <img src="" alt="" class="partners__img"> -->
                <span>Наш<br> партнер</span>
            </div>
            <div class="partners__logo-wrap">
                <!-- <img src="" alt="" class="partners__img"> -->
                <span>Наш<br> партнер</span>
            </div>
            <div class="partners__logo-wrap">
                <!-- <img src="" alt="" class="partners__img"> -->
                <span>Наш<br> партнер</span>
            </div>
            <div class="partners__logo-wrap">
                <!-- <img src="" alt="" class="partners__img"> -->
                <span>Наш<br> партнер</span>
            </div>
            <div class="partners__logo-wrap">
                <!-- <img src="" alt="" class="partners__img"> -->
                <span>Наш<br> партнер</span>
            </div>
        </div>
    </div>
</section>
