<section class="personality">
    <div class="wrapper">
        <div class="personality__wrap">
            <h2 class="personality__title">Историчесие личности</h2>
            <p class="personality__subtitle">Просмотрите все исторические личности или личности<br> твоего города</p>
            <div class="personality__carusel">
                <a href="#" class="personality__item">
                    <img src="../img/card.png" class="personality__img" alt="">
                </a>
                <a href="#" class="personality__item">
                    <img src="../img/card.png" alt="">
                </a>
                <a href="#" class="personality__item">
                    <img src="../img/card.png" alt="">
                </a>
                <a href="#" class="personality__item">
                    <img src="../img/card.png" alt="">
                </a>
                <a href="#" class="personality__item">
                    <img src="../img/card.png" alt="">
                </a>
                <a href="#" class="personality__item">
                    <img src="../img/card.png" alt="">
                </a>
                <a href="#" class="personality__item">
                    <img src="../img/card.png" alt="">
                </a>
            </div>
            <a href="#" class="personality__link btn">Все анкеты</a>
        </div>
    </div>
</section>
