<section class="posibility">
    <div class="wrapper">
        <h2 class="posibility__title">Незабуду:</h2>
        <div class="posibility__content">
            <div class="posibility__item">
                <div class="posibility__img-wrap">
                    <img src="" alt="photo" class="posibility__img">
                </div>
                <a href="#" class="posibility__link">
                    <h6 class="posibility__subtitle">Заполнить анкету</h6>
                    <p class="posibility__text">Сохрани информацию об ушедшем и его место захоронения, делись анкетой с близкими для памяти об ушедшем и быстрого поиска захоронения.</p>
                </a>
            </div>
            <div class="posibility__item">
                <div class="posibility__img-wrap">
                    <img src="" alt="photo" class="posibility__img">
                </div>
                <a href="#" class="posibility__link">
                    <h6 class="posibility__subtitle">Найти место захоронения</h6>
                    <p class="posibility__text">Онлайн поиск места захоронения по уже созданным анкетам и оцифрованным данным.</p>
                </a>
            </div>
            <div class="posibility__item">
                <div class="posibility__img-wrap">
                    <img src="" alt="photo" class="posibility__img">
                </div>
                <a href="#" class="posibility__link">
                    <h6 class="posibility__subtitle">Облачный фотоархив</h6>
                    <p class="posibility__text">Сохранить фотографии ушедших близких от утери, порчи, выцветания, а также неполадок с компьютером, телефоном.</p>
                </a>
            </div>
            <div class="posibility__item">
                <div class="posibility__img-wrap">
                    <img src="" alt="photo" class="posibility__img">
                </div>
                <a href="#" class="posibility__link">
                    <h6 class="posibility__subtitle">QR наклейка</h6>
                    <p class="posibility__text">Мемориалы на кладбищах станут нести больше ценной информации</p>
                </a>
            </div>
            <div class="posibility__item">
                <div class="posibility__img-wrap">
                    <img src="" alt="photo" class="posibility__img">
                </div>
                <a href="#" class="posibility__link">
                    <h6 class="posibility__subtitle">Уход</h6>
                    <p class="posibility__text">Теперь можно удаленно совершать уход, уборку места захоронения, возложить цветы</p>
                </a>
            </div>
            <div class="posibility__item">
                <div class="posibility__img-wrap">
                    <img src="" alt="photo" class="posibility__img">
                </div>
                <a href="#" class="posibility__link">
                    <h6 class="posibility__subtitle">Читать истории</h6>
                    <p class="posibility__text">Их жизнь была интересной.  Все люди – личности, каждая история важна и достойна внимания!</p>
                </a>
            </div>
        </div>
    </div>
</section>
