<section class="questionnaires">
    <div class="wrapper">
        <h2 class="questionnaires__title">Стань частью проекта</h2>
        <div class="questionnaires__wrapper">
            <div class="questionnaires__form">
                <p class="questionnaires__text">Сохрани ситории своего рода - Здесь<br>
                    ты можешь создать много анкет с<br> информацией об ушедших<br> родственниках и записать истории их<br> жизни, а также загруить фотографии.
                </p>
                <a href="#" class="questionnaires__link btn">Заполни анкету</a>
            </div>
            <div class="questionnaires__img-wrap">
                <img class="questionnaires__img" src="./img/questionnaire.png" alt="questionnaire">
            </div>
        </div>
    </div>
</section>  
