<section class="reviews">
    <div class="wrapper">
        <div class="reviews__content">
            <div class="reviews__text">
                <h2 class="reviews__title">Ваше мнение нам важно!</h2>
                <p class="reviews__subtitle">Мы стартап проект и просим тебя дать обратную связь по функционалу сайта</p>
                <p class="reviews__subtitle">Было ли вам комфортно пользоваться сайтом?</p>
                <a href="#" class="reviews__link btn">Оставить отзыв</a>
            </div>
            <div class="reviews__img-wrap">
                <img src="../img/grid.jpg" alt="photo from dron" class="reviews__img">
            </div>
        </div>
    </div>
</section>
