<section class="volunteers">
    <div class="wrapper">
        <h2 class="volunteers__title volunteers__title--mob">Стань партнером или волонтером</h2>
        <div class="volunteers__content">
            <div class="volunteers__text">
                <h2 class="volunteers__title">Стань партнером или волонтером</h2>
                <p class="volunteers__subtitle">Отправь заявку на почту и присоединяйтесь к соц.сетям.<br>
                Пусть о вас и вашей организации узнают больше людей!</p>
                <form action="POST" class="volunteers__form">
                    <input type="text" class="volunteers__name" required placeholder="Иванов Иван">
                    <input type="tel" class="volunteers__tel" required placeholder="+38 (050) 123-45-67">
                    <select class="select__options--helps" id="helps">
                        <option value="hide">Чем вы можете нам помочь</option>
                        <option value="Помощь в отцифровке" rel="icon-temperature">Помощь в отцифровке</option>
                        <option value="Спонсорство">Спонсорство</option>
                        <option value="Помощь в гос.учреждениях">Помощь в гос.учреждениях</option>
                        <option value="Помощь в культорном направлении">Помощь в культорном направлении</option>
                        <option value="Партнерство">Партнерство</option>
                    </select>
                    <input type="submit" class="volunteers__btn btn" value="Отправить заявку">
                </form>
            </div>
            <div class="volunteers__img-wrap">
                <img src="./img/iphone.png" class="volunteers__img" alt="iphone">
            </div>
        </div>
    </div>
</section>
