<section class="welcome">
    <div class="wrapper">
        <div class="welcome__content">
            <div class="welcome__text">
                <h2 class="welcome__title">Не забуду помнить!</h2>
                <p class="welcome__subtitle">Облегчи поиск родственникам,<br>знакомым и потомкам</p>
                <p class="welcome__description">
                    <span>Напиши </span>каким он был, пускай узнают все!<br>
                    <span>Сохрани </span>фото онлайн пускай они будут под рукой!<br>
                    <span>Укажи</span> где он сейчас, чтобы его смогли найти!<br>
                    <span>Поставь уведомление</span> на памятные дни, чтоб не забыть убрать!
                </p>
                <p class="welcome__description">Пускай и его, и ее не забудут, ведь ты их любил! 
                </p>
                <a href="#" class="welcome__link btn">Заполнить анкету</a>
            </div>
            <div class="welcome__img-wrap"></div>
        </div>
    </div>
</section>
