<section class="welcome">
    <div class="wrapper wrapper--welcome">
        <div class="welcome__content">
            <div class="welcome__text">
                <h2 class="welcome__title">НЕЗАБУДУ помнить!</h2>
                <!-- <p class="welcome__subtitle">Облегчи поиск родственникам,<br>знакомым и потомкам</p> -->
                <p class="welcome__description">
                    <span>Напиши </span>каким он был, пускай узнают все!
                </p>    
                <p class="welcome__description">    
                    <span>Сохрани </span>фото онлайн<br> пускай они будут под рукой!
                </p>    
                <p class="welcome__description">    
                    <span>Укажи</span> где он сейчас<br> чтобы его смогли найти!<br>
                </p>
                <a href="#" class="welcome__link btn">Заполнить анкету</a>
            </div>
            <div class="welcome__img-wrap">
                <img src="../img/collabs.png" class="welcome__img" alt="photo">
            </div>
        </div>
    </div>
</section>
