@import 'normalize';
@import 'mixins';
@import 'slick';
@import 'slick-theme';
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap');


$primary-color: #000000;
$default-color: #ffffff;
$secondary-color: rgba(0,0,0, .4);
$btn-color: #041E36;
$btn-text: #C1C3C4;

//select section******************************
$select-color: $primary-color;
$select-background: $default-color;
$select-width: 80%;
$select-height: auto;
$border-color: rgba(0,0,0,0.2);
* {
	box-sizing: border-box;
}

// :active, :hover, :focus {
//     outline-color: transparent !important;
//     outline-offset: 0!important;
// }

html {
	font-size: 10px;
	height: 100%;
	scroll-behavior: smooth;
}


body {
	font-family: 'Manrope', sans-serif;
	font-size: 1.4rem;
	line-height: 1.2;
	min-height: 100%;
	font-weight: 400;
	background: $default-color;
}
a {
	text-decoration: none;
	color: $primary-color;
}
h2 {
	font-size: 1.8rem;
}

//Helpers*******************************************
.wrapper {
	max-width: 1670px;
	width: 90%;
	margin: 0 auto;
	height: 100%;
}
.btn {
	display: block;
	color: $btn-text;
	background: $btn-color;
	font-weight: 700;
	font-size: 1.4rem;
	padding: 20px 5px;
	border-radius: 5px;
	width: 250px;
	text-align: center;
	cursor: pointer;
	border: none;
	@include tr(all, .1s);
	&:hover,
	&:focus {
		box-shadow: 0px 0px 21px 0px rgba(50, 50, 50, 0.91);
	}
}

.select-hidden {
display: none;
visibility: hidden;
padding-right: 10px;
}
.select {
	background-color: $select-background;
	text-align: left;
	cursor: pointer;
	display: inline-block;
	position: relative;
	width: $select-width;
	height: $select-height;
	max-width: 590px;
	margin: 20px 0;
	padding: 30px 0 30px 20px;
	border: 1.5px solid $border-color;
	color: rgba(0,0,0, .3) !important;
	font-weight: 700;
	font-size: 1.4rem;
}
.select-styled {
	position: absolute; 
	top: 25%;
	right: 0;
	bottom: 0;
	left: 10px;
	// background-color: $select-background;
	padding: 8px 15px;
	@include tr(all, 0.2s);
	&:after {
		content:"";
		width: 0;
		height: 0;
		border: 7px solid transparent;
		border-color: $select-color transparent transparent transparent;
		position: absolute;
		top: 12px;
		right: 25px;
	}
	&:hover {
		border-color: $btn-color;
	}
	&:active, 
	&.select-active {
		border-color: $btn-color;
		color: rgba(0,0,0, .3) !important;
		&:after {
		top: 5px;
		border-color: transparent transparent $select-color transparent;
		}
	}
}
	
.select-options {
	display: none; 
	position: absolute;
	top: 100%;
	right: 0;
	left: 0;
	z-index: 999;
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: $select-background;
	li {
		color: rgba(0,0,0, .3) !important;
		margin: -1px -1.5px 0 -1.5px;
		padding: 12px 0;
		text-indent: 20px;
		border: 1.5px solid darken($select-background, 10);
		@include tr(all, 0.15s);
		&:hover {
			background: $border-color;
		}
		&[rel="hide"] {
		display: none;
		}
	}
}




//Header-section********************************************
.header {
	padding: 10px 0;
	background: $default-color;
	position: fixed;
	width: 100%;
	z-index: 100;
	&__wrap {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__link,
	&__soc-link  {
		color: $primary-color;
	}
	&__link {
		font-size: 2.4rem;
		font-weight: 700;
		letter-spacing: 4px;
		text-transform: uppercase;
	}
	&__soc-link {
		width: 27px;
		height: 27px;
		border: 2px solid $primary-color;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		@include tr(all, .1s);
		&:hover,
		&:focus {
			// background: $secondary-color;
			box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.75);;
		}
		img {
			width: 15px;
			height: 15px;
		}
		&:nth-child(2) {
			margin: 0 15px;
		}
	}
	&__social {
		display: flex;
	}
	&__enter-link {
		display: flex;
		align-items: center;
		@include tr(all, .2s);
		span {
			margin-right: 10px;
			font-size: 2rem;
			font-weight: 700;
		}
		img {
			width: 30px;
			height: 30px;
		}
		&:hover,
		&:focus {
			color: $secondary-color;
		}
	}
}





//Welcome-block************************************************
.welcome {
	height: 100vh;
	&__content {
		display: flex;
		align-items: center;
		height: 100%;	
	}
	&__title {
		font-size: 3.2rem;
	}
	&__text {
		width: 50%;
	}
	&__description,
	&__subtitle {
		font-size: 1.4rem;
		font-weight: 700;
		color: $secondary-color;
		&:last-of-type {
			margin-bottom: 60px;
		}
		span {
			font-weight: 700;
			font-size: 2.5rem;
			color: $primary-color;
		}	
	}
}





//About-section******************************
.about {
	&__title,
	&__subtitle {
		width: 60%;
	}
	&__content {
		display: flex;
		justify-content:center;
		position: relative;
	}
	&__gallery {
		width: 45%;
		display: grid;
		align-items: end;
		// grid-template-rows: repeat(2, 1fr);
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 30px;
	}
	&__items {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 45%;
		align-items: flex-end;
	}
	&__img-wrap {
		width: 100%;
		max-width: 280px;
		height: 300px;
		// background: rgba(0,0,0, .1);
		// margin: 10px 0 30px 0;
		overflow: hidden;
		position: relative;
	}
	&__img {
		@include myPos();
		max-width: 160%;
		// height: 100%;
		// opacity: .7;
	}
	&__text-center {
		display: block;
		width: 300px;
		height: 300px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		@include myPos(50%, 50%, -50%,-50%);
		font-size: 3.5rem;
		font-weight: 700;
		background: $default-color;
	}

}




//Posibility section******************************
.posibility {
	padding-top: 150px;
	&__title {
		font-size: 2.8rem;
		text-align: center;
	}
	&__content {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	&__item {
		position: relative;
		margin-top: 80px;
		width: 50%;
		display: flex;
		justify-content: flex-end;
		&:nth-child(2n) {
			justify-content: flex-start;
		}
	}
	&__img-wrap {
		overflow: hidden;
		position: relative;
		opacity: .7;
		img {
			@include myPos();
			max-width: 150%;
		}
	}
	&__img-wrap,
	&__link {
		width: 280px;
		min-width: 280px;
		height: 280px;
		border-radius: 50%;
		border: 1px solid $secondary-color;
		overflow: hidden;
	}
	&__link {
		padding: 0 15px;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: relative;
		left: -60px;
		z-index: 2;
		background: $default-color;
		animation: 3s shine infinite;
		animation-delay: 2s;
		border: 20px solid $btn-text;
		@include tr(color, .2s);
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			color: #fff;
			text-decoration: none;
			background: linear-gradient(0deg, rgb(101, 31, 102), rgb(173, 65, 169));
			opacity: 0;
			transition: opacity .4s;
			z-index: -1;
		}
		&:hover:after {
			opacity: 1;
		}
		&:hover {
			color: $default-color;
			animation-play-state: paused;
		}

	}
	&__subtitle {
		font-weight: 500;
		font-size: 1.6rem;
	}
	&__text {
		font-size: 1.3rem;
		margin-top: 20px;
		line-height: 1.6;
	}

}

@keyframes shine {
	0% {
		border-color: $btn-text;
	}
	50% {
		border-color: #9f9999;

	}
	100% {
		border-color: $btn-text;
	}
}


//search section******************************
.search {
	padding-top: 140px;
	&__title {
		font-size: 2.8rem;
	}
	&__form,
	&__block-input  {
		display: flex;
		flex-direction: column;		
	}
	&__form {
		width: 100%;
		max-width: 590px;
		align-items: center;
		margin: 40px auto 0 auto;
	}
	&__block-input {
		align-items: flex-start;
		width: 100%;
		max-width: 590px;
	}
	&__name,
	&__city {
		width: 100%;
		input {
			border: 1.5px solid rgba(0,0,0, .2);
			margin: 20px 0;
			padding: 25px 30px;
			width: 100%;
			&::placeholder {
				color: rgba(0,0,0, .3);
				font-weight: 700;
				font-size: 1.4rem;
			}
		}
		label {
			display: block;
			text-align: left;
		}
	}
	&__btn {
		margin: 20px auto 0 auto;
	}
	.select {
		width: 100%;	
		max-width: 590px;
		
	}


}




//Footer-section******************************
.footer {
	font-size: 1.4rem;
	&__title {
		font-size: 1.6rem;
	}
	&__info,
	&__copy {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	&__info {
		border-top: 1px solid $secondary-color;
		border-bottom: 1px solid $secondary-color;
		padding: 0 0 30px 0;
		
	}
	&__copy {
		padding: 40px 0;
	}
	&__docs,
	&__cabinet,
	&__services,
	&__contacts {
		display: flex;
		flex-direction: column;
		min-width: 230px;
		padding-top: 40px;
	}
	&__social {
		display: flex;
		margin: 0 0 15px 0;
	}
	&__soc-link {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 25px;
		height: 25px;
		border-radius: 50%;
		border: 1px solid $primary-color;
		@include tr(all, .1s);
		&:nth-child(2) {
			margin: 0 10px;
		}
		img {
			width: 15px;
			height: 15px;
		}
		&:hover,
		&:focus {
			// background: $secondary-color;
			box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.75);;
		}
	}
	&__link-tel,
	&__cabinet-link,
	&__doc-link,
	&__service,
	&__link-mail {
		margin-bottom: 10px;
		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}
	&__link-mail {
		margin-bottom: 0;
	}
	&__title {
		margin-bottom: 15px;
	}
	&__lang {
		border: none;
		outline: transparent;
	}
}



//volunteers section********************************************
.volunteers {
	padding: 160px 0 45px 0;
	&__content {
		display: flex;
	}
	&__text,
	&__img-wrap {
		width: 50%;
	}
	&__text {
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	&__title {
		font-size: 1.8rem;
	}
	&__subtitle {
		font-size: 1.4rem;
	}
	&__name,
	&__tel {
		padding: 25px 30px;
		border: 1.5px solid rgba(0,0,0, .2);
		margin-top: 20px;
		max-width: 590px;
		width: 80%;
		&::placeholder {
			color: rgba(0,0,0, .3);
			font-weight: 700;
			font-size: 1.4rem;
		}
	}
	&__form {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__btn {
		margin-top: 30px;
	}
}




//Reviews section******************************
.reviews {
	&__content {
		display: flex;
	}
	&__text {
		width: 40%;
		// padding-right: 60px;
		margin: 80px 0 50px 0;	
	}
	&__link {
		margin-top: 35px;
	}
	&__subtitle {
		margin-top: 25px;
	}
}






//Partners section******************************
.partners {
	padding: 40px 0 0 0;
	text-align: center;
	&__subtitle {
		max-width: 820px;
		margin: 20px auto 0 auto;
	}
	&__items {
		margin-top: 50px;
		font-size: 3rem;
		font-weight: 700;
		color: $secondary-color;
		span {
			opacity: .3;
		}
	}
	.slick-dots {
		bottom: -60px;
		font-size: 1.8rem;
	}
	.slick-dots li button:before {
		content: '';
		width: 10px;
		height: 5px;
		background: $secondary-color;
		cursor: pointer;
		bottom: 0;
		top: auto;
	}
	.slick-dots li.slick-active button:before {
		height: 10px;
	}
}
